body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: lightgray;
}

.navbar-brand img{
    width: 40px;
    height: 40px;
}

.mainPageSection {
    min-height: 100vh;
    margin: 30px;
}

.card {
    margin-bottom: 10px;
}

.footer {
    padding: 10px 0;
    text-align: center;
    background: #343a40;
}